<div class="example-container" [class.example-is-mobile]="mobileQuery.matches">
  <app-header (sidenavToggle)="sidenav.toggle()"></app-header>
  <mat-sidenav-container class="example-sidenav-container"
                         [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
    <mat-sidenav #sidenav [mode]="mobileQuery.matches ? 'over' : 'side'"
                 [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
      <app-sidenav-list></app-sidenav-list>
    </mat-sidenav>

    <mat-sidenav-content class="example-sidenav-content">
      <mat-card *ngFor="let datum of data" class="example-card">
        <mat-card-content>
          <p>
            {{ datum.title }}
          </p>
        </mat-card-content>
      </mat-card>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
